*{
    padding: 0;
    margin: 0
    ;
    box-sizing: 0;
}

.header{
    background-image: url('images/donation1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner{
    
    height: 700px;
}
.text-box{
    padding-top: 300px;
    text-align: center;
    

}
 .text-box h1{
    font-size: 50px;
    color: white;
 }
 .text-box p{
    color: rgb(232, 212, 212);
    padding: 15px 0;
    font-size: 20px;
 }
.btn-primary{
    padding: 20px;
    color: white ;
    background-color: #f53939 ;
    font-size: 22px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.btn-primary:hover{
    background-color: #f539392e;
}
/* donate today section  */


.donate-text{
    text-align: center;
    margin-top: 70px;
}
.donate-text h2{
   font-size: 45px;
   margin-bottom: 15px;
    
}
.donate-text p{
    color: gray;
    font-size: 20px;
    line-height: 1.6rem;
}
.donate-taka{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 15px;
    width: 800px;
    margin: 25px auto;
   
}
.donate-taka h2{
    background: hsla(0, 0%, 84%, 0.25);
    padding: 30px 25px;
    border-radius: 5px;
}
.second-donate{
    color: #f53939;
    border: #f53939 solid 2px;
    background-color:#f539392e;
    border-radius: 5px;
}
.donate-amount{
    width: 800px;
    margin: 30px auto;
    text-align: center;
}
.donate-amount hr{
    margin: 15px 0;
    color: gray;
}
.donate-amount p{
    color: gray;
    font-size: 18px;

}
/* donate plan section  */
.donate-plan-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 200px;
    text-align: start;
    grid-gap: 20px;
    
}
.donate-plan-single{
    padding: 50px 15px;
    border-radius: 5px;

    
}
.donate-plan-single h2{
    padding: 20px 0;
    font-size: 30px;
}
.donate-plan-single p{
    color: gray;
    font-size: 20px;
}
.donate-plan-single:first-child{
    background-color: #87cfeb5b;
}
.donate-plan-single:nth-child(2){
    background-color: #ffb6c167;
    
}
.donate-plan-single:nth-child(3){
    background-color:#fad5a57e ;
}
/* contribute section  */
.contribute-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px;
    margin:30px 150px ;
    
    
}
.contribute-text{
    text-align: center;

}
.contribute-text h2{
    font-size: 50px;
    padding-top:30px ;
}


.contribute-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.contribute-text p{
    padding: 25px  0;
    line-height: 2rem;
    font-size: 22px;
    color: gray;
    margin-bottom: 30px;
}

.input-div input{
    padding: 15px 100px 15px 10px;
    border: none;
    font-size: 18px;
    border-radius: 5px 0px 0px 5px;
    background-color: #87cfeb5b;
}
.input-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
form{
    background-color:bisque ;
    padding: 100px 0;
    margin:50px 400px;
}
.subscribe{
    padding:12px 40px ;
    border-radius: 0 5px 5px 0;
}

/* footer section  */
footer{
    background-color: black;
    height: 200px;
}
.humble{
    text-align: center;
    
}
.humble h2{
    color: #f53939;
    padding: 20px 0;
    font-size: 30px;
    font-family: cursive;

}
.humble p{
    color: white;
}

@media screen and (max-width:576px) {
        .banner{
            height: 100%;
        }  
    .text-box h1{
        font-size: 30px;
    }
    .donate-text h2{
        font-size: 30px;
    }
    .donate-text p{
        padding-left: 30px;
    }
    .donate-taka{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: center;
        grid-gap: 15px;
        width: 100%;
       
    }
    .donate-section{
        margin: 0 30px;
    }
    .donate-amount{
        width: 100%;
    } 
    .donate-plan-parent{
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 30px;
    text-align: start;
    grid-gap: 20px;

    }
    /* .contribute-section{
        margin: 30px 30px;
    }  */
    .contribute-parent{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin:30px 30px ;
    }
 
    .contribute-text{
        text-align: center;

    }
    
    .contribute-img {
        width: 100%;
        height: 100%;
    }
    .contribute-text h2{
        font-size: 30px;
        padding-top:30px ;
    }

    .input-div input{
        padding: 15px 0px 15px 10px;
        border: none;
        font-size: 18px;
        border-radius: 5px 0px 0px 5px;
        background-color: #87cfeb5b;
    }
    .input-div{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    form{
        background-color:bisque ;
        padding: 50px 0;
        margin:30px 30px;
        border-radius: 5px;
    }
    .subscribe{
        padding:12px 20px ;
        border-radius: 0 5px 5px 0;
    }
}
    
    
